@font-face {
  font-family: "Gotham Rounded";
  src: url(../fonts/GothamRounded.ttf);
}
html, 
body {
  font-family: "Gotham Rounded", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpeg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
* {
  color: white;
}
.navbar * {
  color: #666;
}
h1, 
h2, 
.navbar-brand, 
.brand {
  color: white !important;
  font-family: "Montserrat";
  font-weight: 700;
}
.navbar-brand {
  color: #666 !important;
}

h4 {
  color: white;
}
.modal h2 {
  color: #666 !important;
}
.jumbotron {
  background: transparent;
  color: white;
  padding-top: 20vh;
  border: none;
}
.btn.btn-primary {

}
.modal {
  position: absolute;
  top: 20%;
  margin: auto;
}
.flashed_messages {
  color: red;
}
.add-body {
  margin-top: 10vh;
}
table {
  margin-top: 20px;
}
tr {
  border-top: 1px solid white;
}