@font-face {
  font-family: "Gotham Rounded";
  src: url(../fonts/GothamRounded.ttf);
}
html, 
body {
  font-family: "Gotham Rounded", sans-serif;
  background: url(../img/low_poly.jpg) no-repeat center center;
}
h1, 
h2, 
.navbar-brand, 
.brand {
  font-family: "Montserrat";
  font-weight: 700;
}
.jumbotron {
  background: transparent;
  color: white;
}
.modal {
  position: absolute;
  top: 20%;
  margin: auto;
}
.flashed_messages {
  color: red;
}
.add-body {
  margin-top: 10vh;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
}
table {
  margin-top: 20px;
}
