{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Home</h1>
    </div>
  </div>
</div>
<div class="container">
  <h4>Browse by location</h4>
  <a class="btn btn-default" href="/home/Vegas">Vegas</a>
  <a class="btn btn-default" href="/home/SanDiego">SanDiego</a>
  <table class="table">
    <thead>
      <th>Name of item</th>
      <th>Owner</th>
      <th>Price</th>
      <th>Location</th>
      <th></th>
    </thead>
    <tbody>
      {% for item in items %}
        {% if current_user.id != item.owner %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{% for user in all_users %}
            {% if user.id == item.owner %}
            {{ user.name }}
            {% endif %}
            {% endfor %}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.location }}</td>
          <td><a class="btn btn-primary" href="/buy/{{item.id}}/{{current_user.id}}">Buy</a></td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}